body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
}

#startScreen {
    position: absolute;
    text-align: center;
    width: 50%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: orange;
}

canvas {
    display: none;
    /* Hide canvas until the game starts */
    position: absolute;
    top: 0;
    left: 0;
}

input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.input-container {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#endScButtons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    gap: 5px;
}
