.canvas-container {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    display: block;
    border: 6px solid #503c25;
    border-radius: 10px;
    background-color: #bcdac3;
}

.control-button {
    position: fixed;
    top: 2vh;
    padding: 1vh 1.5vw;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1.5rem, 1vw, 18px);
    font-weight: bold;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.hover-button {
    right: 2vw;
}

.hover-button.enabled {
    background-color: #fde498;
    color: #6c757d;
}

.hover-button.disabled {
    background-color: #6c757d;
    color: #ffffff;
}

.music-button {
    right: calc(2vw + 10.25vw);
}

.music-button.playing {
    background-color: #fde498;
    color: #6c757d;
}

.music-button.paused {
    background-color: #6c757d;
    color: #ffffff;
}

.help-button {
    right: calc(2vw + 20.5vw);
}

.help-button.active {
    background-color: #fde498;
    color: #6c757d;
}

.help-button.inactive {
    background-color: #6c757d;
    color: #ffffff;
}

.help-button:hover,
.music-button:hover,
.hover-button:hover,
.implementation-button:hover {
    filter: brightness(0.85);
}

.help-modal {
    position: fixed;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 1100;
    min-width: 2rem;
    max-width: 30vw;
    max-height: 50vh;
    overflow-y: auto;
}

.help-dropdown {
    top: calc(2vh + 4rem);
    right: calc(2vw + 20.5vw);
}

.implementation-dropdown {
    top: calc(2vh + 4rem);
    left: calc(2rem + 4rem);
}

.help-modal h2 {
    margin-top: 0;
    color: #333;
}

.help-modal p {
    margin: 10px 0;
}

.close-button {
    padding: 10px 20px;
    background-color: #fde498;
    color: #6c757d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.close-button:hover {
    background-color: #fcd77f;
    color: #6c757d;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.portfolio-title {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    margin: 0;
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-align: center;
    color: #503c25;
}

.implementation-button {
    position: fixed;
    top: 2vh;
    left: calc(2rem + 4rem);
    background: #6c757d;
    color: white;
    border-radius: 5px;
    padding: 0.6rem 1.5vh;
    cursor: pointer;
    font-size: clamp(1.5rem, 1vw, 16px);
    font-weight: bold;
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}